*.a
*.bin
*.d
*.dll
*.exe
*.exp
*.gcda
*.ilk
*.ipch
*.lib
*.log
*.map
*.o
*.o-*
*.obj
*.optrpt
*.orig
*.pdb
*.png
*.pyc
*.pyd
*.res
*.so
*.so.*
*~
version_git.hh
perf.data
.directory
.DS_Store

*.geany
.project
.cproject
.idea
.se/
.vscode/
cmk/
ins/

*.asc
*.csv
*.fmu
*.mo
*.mof
*.mos
*.out

fmu-uuid
bin/Linux/**/QSS*
bin/Linux/**/*.unit
