*.a
*.d
*.dll
*.exe
*.gcda
*.ilk
*.lib
*.log
*.map
*.o
*.out
*.o-*
*.obj
*.optrpt
*.orig
*.pdb
*.pyc
*.res
*.so
*.so.*
*~
.directory
.DS_Store

*.geany
.project
.cproject
.idea
.se

*.fmu
modelDescription.xml

bin/Linux/**/QSS*
bin/Linux/**/*.unit